/*#region Splash */

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    pointer-events: auto;
    backface-visibility: hidden;
    transition: opacity 0.3s linear;
    text {
        font-family: fantasy;
        fill: #fff;
        font-size: 100px;
        -webkit-font-smoothing: antialiased;
    }
    &.drop-down {
        transform-origin: right top;
        animation: hinge 3s ease-in forwards;
    }
    // loading spinner 
    .loading-spinner {
        .loading_svg #outline {
            stroke-dasharray: 2px, 200px;
            stroke-dashoffset: 0;
            animation: anim 2s linear infinite;
        }
        width: 300px;
        margin: 120px auto 0;
    }
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    padding: 0;
}
