/*#region Splash */

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    pointer-events: auto;
    backface-visibility: hidden;
    transition: opacity 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text {
        font-family: fantasy;
        fill: #fff;
        font-size: 100px;
        -webkit-font-smoothing: antialiased;
    }
    &.drop-down {
        // transform-origin: right top;
        animation: hinge 3s ease-in forwards;
    }
    // loading spinner 
    .loading-spinner {
        .loading_svg #outline {
            stroke-dasharray: 2px, 200px;
            stroke-dashoffset: 0;
            animation: infiniteSVG 2s linear infinite;
        }
        width: 300px;
    }
}

.page-splash-message {
    transform: scale(1.4);
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    padding: 0;
}

// animation
.png-animation {
    float: left;
    width: (640px / 4);
    height: (1136px / 4);
    background: transparent url('../images/three/spritesheet.png') 0 0 no-repeat;
    background-size: 100% auto;
    animation: framerun 1234ms 2s steps(1) infinite;
}

@keyframes framerun {
    @for $i from 1 through 37 {
        #{($i  - 1) / 36 *100}% {
            background-position: 0 #{-(($i - 1) * 1136px)/ 4};
        }
    }
}
