<!DOCTYPE html>
<html ng-app="app">

<head>
    <style>
    /* This helps the ng-show/ng-hide animations start at the right place. */
    /* Since Angular has this but needs to load, this gives us the class early. */
    
    .ng-hide {
        display: none!important;
    }
    </style>
    <title ng-bind="title">
        presentation
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <base href="/">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body>
    <div class="page-splash" ng-class="splash.dropDown" impress-dir-splash ng-click='splash.hide()' ng-if=false>
        <div class="page-splash-message">
            <svg xmlns="http://www.w3.org/2000/svg" width="1024" height="100" viewBox="0 0 1024 100">
                <defs>
                    <filter id="filter">
                        <feFlood flood-color="#000" result="#000" />
                        <feFlood flood-color="red" result="flood1" />
                        <feFlood flood-color="limegreen" result="flood2" />
                        <feOffset in="SourceGraphic" dx="3" dy="0" result="off1a" />
                        <feOffset in="SourceGraphic" dx="2" dy="0" result="off1b" />
                        <feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a" />
                        <feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b" />
                        <feComposite in="flood1" in2="off1a" operator="in" result="comp1" />
                        <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />
                        <feMerge x="0" width="100%" result="merge1">
                            <feMergeNode in="#000" />
                            <feMergeNode in="comp1" />
                            <feMergeNode in="off1b" />
                            <animate attributeName="y" id="y" dur="8s" values='104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
                            <animate attributeName="height" id="h" dur="8s" values='10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
                        </feMerge>
                        <feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
                            <feMergeNode in="#000" />
                            <feMergeNode in="comp2" />
                            <feMergeNode in="off2b" />
                            <animate attributeName="y" id="y" dur="8s" values='103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1' repeatCount="indefinite" />
                            <animate attributeName="height" id="h" dur="8s" values='0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1' repeatCount="indefinite" />
                        </feMerge>
                        <feMerge>
                            <feMergeNode in="SourceGraphic" />
                            <feMergeNode in="merge1" />
                            <feMergeNode in="merge2" />
                        </feMerge>
                    </filter>
                </defs>
                <g>
                    <text filter="url(#filter)" x="237" y="90" width="550">CSS - FLEXBOX</text>
                </g>
            </svg>
        </div>
        <!-- <div class="loading-spinner" ng-show="splash.isLoading">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet" class="loading_svg">
                <path stroke="#fff" id="outline" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"></path>
                <path id="outline-bg" fill="none" stroke="rgba(255,255,255,.4)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"></path>
            </svg>
        </div> -->
        <!-- <canvas id="demo" width="1024" height="400" style="position: absolute; top: 50%; left: 50%; margin-left: -512px; margin-top: -200px"></canvas> -->
        <!-- <div class="png-animation"></div> -->
    </div>
    <!--
        
        Now that's the core element used by impress.js.
        
        That's the wrapper for your presentation steps. In this element all the impress.js magic happens.
        It doesn't have to be a `<div>`. Only `id` is important here as that's how the script find it.
        
        You probably won't need it now, but there are some configuration options that can be set on this element.
        
        To change the duration of the transition between slides use `data-transition-duration="2000"` giving it
        a number of ms. It defaults to 1000 (1s).
        
        You can also control the perspective with `data-perspective="500"` giving it a number of pixels.
        It defaults to 1000. You can set it to 0 if you don't want any 3D effects.
        If you are willing to change this value make sure you understand how CSS perspective works:
        https://developer.mozilla.org/en/CSS/perspective
        
        But as I said, you won't need it for now, so don't worry - there are some simple but interesting things
        right around the corner of this tag ;)
        
    -->
    <div id="impress" impress-dir-sliders>
        <!-- old time start -->
        <div class="step slide old_time" data-x="-2100" data-y="-2400" data-z="-5000">
            <h3>传统的布局写法与缺陷</h3>
            <p>例子#1：</p>
            <div class="example_1">
                <div class="row clearfix">
                    <div ng-click='sliders.oldTime.showLong($index)' ng-dblclick="sliders.oldTime.appendChild()" ng-repeat="item in sliders.oldTime.quaters track by $index" ng-bind='item'></div>
                </div>
            </div>
            <div class="fg-row">
                <div class="fg-col-xs-6">
                    <pre>
                        <code class="html">
                    &lt;div&gt;
                        /* 清除浮动 */
                        &lt;div class=&quot;row clearfix&quot;&gt;
                            &lt;div&gt;...&lt;/div&gt;
                            &lt;div&gt;...&lt;/div&gt;
                            &lt;div&gt;...&lt;/div&gt;
                            &lt;div&gt;...&lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;    
                        </code>
                    </pre>
                </div>
                <div class="fg-col-xs-6">
                    <pre>
                        <code class="css">
                    .row {
                        /* 形成间隔 */
                        margin: 0 15px;
                    }
                    .row > div {
                        width: 25%;
                        float: left;
                        padding: 15px;
                    }
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="step slide old_time" data-x="-2100" data-y="-2400" data-z="-3000" data-rotate="30">
            <p>例子#2：<span class="text-hide small">(不用translate做位移是有原因的, 添加动画时需要多余的操作)</span></p>
            <div class="fg-row">
                <div class="fg-col-xs-6">
                    <div class="example_2">
                        <div>好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长</div>
                    </div>
                </div>
                <div class="fg-col-xs-6">
                    <pre>
                        <code class="css">
                    .outer {
                        position: relative;
                    }
                    .inner {
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        /* solution 1 */
                        top: 50%;
                        left: 50%;
                        margin-left: -180px;
                        margin-top: - 80px;
                        /* solution 2 */
                        top: 0; right: 0; bottom: 0; left: 0;
                        margin: auto;
                    }
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="step old_time" data-x="-1000" data-y="-1500" data-z="-1000" data-rotate="60">
            <h3>缺点：</h3>
            <div class="fg-row">
                <div class="fg-col-xs-9 fg-off-xs-2">
                    <ul>
                        <li>多余的tag，不符合语义化</li>
                        <li>大段的样式，可维护性感人</li>
                        <li>珍贵的伪元素被无情的占用</li>
                        <li>可能存在潜在的层叠问题</li>
                        <li>......</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- old time end -->
        <!-- title start -->
        <div id="title" class="step" data-x="-1000" data-y="-500" data-scale="4">
            <span class="try">碰到这些问题，赶紧试试</span>
            <h1>FLEX</h1>
            <!-- <span class="footnote">布局大法</span> -->
        </div>
        <!-- title end -->
        <!-- intro start -->
        <div class="step slide" data-x="500" data-y="1000">
            <h3>主角登场: FLEX</h3>
            <br>
            <p class="h4">
                Flex是Flexible Box的缩写，意为"弹性布局"，用来为盒状模型提供最大的灵活性。
            </p>
            <br>
            <p class="h4">Flex布局模块旨在提供一个更佳有效的布局方式，更好的控制项目的对齐和自由分配容器空间，即使它们的大小是未知的或动态的。因此得其名"flex"。</p>
            <!-- <img src="/src/client/images/browser_support.png" width="100%" alt=""> -->
        </div>
        <div class="step slide" data-x="1000" data-y="1000" data-z="-500" data-rotate-y="90">
            <h3>兼容性</h3>
            <p>
                目前，它已经得到了除IE10以下版本的主流浏览器的支持，这意味着，可以较放心地使用这项功能。
            </p>
            <img src="/src/client/images/browser_support.png" width="100%" alt="">
        </div>
        <!-- intro end -->
        <!-- changeAIJA start -->
        <div class="step slide flex-slide" data-x="500" data-y="1000" data-z="-1000" data-rotate-y="180">
            <p>回到例子#2：</p>
            <div class="fg-row">
                <div class="fg-col-xs-6">
                    <div class="example_2" ng-style="{'align-items': sliders.changeAIJA.AIVal, 'justify-content': sliders.changeAIJA.JAVal}">
                        <span>a</span><div ng-style="{'align-self': sliders.changeAIJA.ASVal}">好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长好长</div>
                    </div>
                </div>
                <div class="fg-col-xs-6" ng-dblclick='sliders.changeAIJA.editMode()'>
                    <pre ng-class="sliders.changeAIJA.mode != 'edit' ? '' : 'hide'">
                        <code class="css">
                    .outer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .inner {
                        width: 200px;
                        /* height: 200px; */
                        /* save
                           so
                           much
                           extra
                           codes
                           and
                           work */
                    }
                        </code>
                    </pre>
                    <pre ng-class="sliders.changeAIJA.mode == 'edit' ? '' : 'hide'">
                        <code class="nohighlight hljs">
                    .outer {
                        display: flex;
                        align-items: <select ng-model='sliders.changeAIJA.AIVal' ng-options="option for option in sliders.changeAIJA.AIList"></select>;
                        justify-content: <select ng-model='sliders.changeAIJA.JAVal' ng-options="option for option in sliders.changeAIJA.JAList"></select>;
                    }
                    .inner {
                        width: 200px;
                        align-self: <select ng-model='sliders.changeAIJA.ASVal' ng-options="option for option in sliders.changeAIJA.ASList"></select>
                        /* height: 200px; */
                        /* save
                           so
                           much
                           extra
                           codes
                           and work */
                    }
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <!-- changeAIJA end -->
        
        <!-- changeFF start -->
        <div class="step slide flex-slide" data-x="0" data-y="1000" data-z="-500" data-rotate-y="270">
            <p>回到例子#1：</p>
            <div class="example_1" ng-style="{'flex-direction': sliders.changeAIJA.FDVal, 'flex-wrap': sliders.changeAIJA.FWVal}">
                <div ng-style="{'order': $index==1 ? sliders.changeAIJA.flexOrder : ''}" ng-click='sliders.oldTime.showLong($index)' ng-dblclick="sliders.oldTime.appendChild()" ng-repeat="item in sliders.oldTime.quaters track by $index" ng-bind='item'></div>
            </div>
            <div class="fg-row">
                <div class="fg-col-xs-6">
                    <pre>
                        <code class="html">
            &lt;div&gt;
                    &lt;div&gt;...&lt;/div&gt;
                    &lt;div class='quater_2'&gt;quarter #2&lt;/div&gt;
                    &lt;div&gt;...&lt;/div&gt;
                    &lt;div&gt;...&lt;/div&gt;
                    ...
            &lt;/div&gt; 

                        </code>
                    </pre>
                </div>
                <div class="fg-col-xs-6" ng-dblclick='sliders.changeAIJA.editMode()'>
                    <pre ng-class="sliders.changeAIJA.mode != 'edit' ? '' : 'hide'">
                        <code class="css">
            .outer {
                display: flex;
                /* extra attributes */
            }

            .inner {
                flex: 1; /* default value: auto */
            }
                        </code>
                    </pre>
                    <pre ng-class="sliders.changeAIJA.mode == 'edit' ? '' : 'hide'">
                        <code class="nohighlight hljs">
            .outer {
                <span style="color: limegreen">/* flex-flow: <'flex-direction'> <'flex-wrap'> */</span>
                flex-flow: <select ng-model='sliders.changeAIJA.FDVal' ng-options="option for option in sliders.changeAIJA.FDList"></select>
                                 <select ng-model='sliders.changeAIJA.FWVal' ng-options="option for option in sliders.changeAIJA.FWList"></select>;
            }
            .quarter_2 {
                order: <input type="text" ng-model='sliders.changeAIJA.flexOrder'>;
            }
                        </code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="step slide" data-x="500" data-y="1500" data-z="-500" data-rotate-y="0" data-rotate-x="270" data-rotate-z="-90">
            <h3>flex属性</h3>
            <p class="h4">
                常规用法：
            </p>
            <pre>
                <code class="css">
            .item {
                flex: [number];
            }
                </code>
            </pre>
            <p class="h4">实际上这个属性有些复杂</p>
            <pre>
                <code class="css">
            .item {
                flex: <'flex-grow 扩展比'>|<'flex-shrink 收缩比'>|<'flex-basis' 伸缩基准值>
            }
                </code>
            </pre>
        </div>

        <div class="step slide flex-slide" data-x="500" data-y="3000" data-z="-500" data-rotate-y="0" data-rotate-x="270" data-rotate-z="-90">
            <h4>flex-shrink & flex-basis</h4>
            <p class="small"><strong>flexbox中元素宽度需收缩时才受这两个值的影响</strong></p>
            <div class="example_3">
                <div class="item item_1" ng-style="{'flex-grow': sliders.changeFlex.FSFB1.flexGrow, 'flex-shrink': sliders.changeFlex.FSFB1.flexShrink, 'flex-basis': sliders.changeFlex.FSFB1.flexBasis}">
                    <ul class="small">
                        <li>
                            <div>flex-grow:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB1.flexGrow'></div>
                        </li>
                        <li>
                            <div>flex-shrink:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB1.flexShrink'></div>
                        </li>
                        <li>
                            <div>flex-basis:</div>
                            <div class="afterfix-px"><input type="number" step='100' ng-model='sliders.changeFlex.FSFB1.flexBasis'></div>
                        </li>
                    </ul>
                </div>
                <div class="item item_2" ng-style="{'flex-grow': sliders.changeFlex.FSFB2.flexGrow, 'flex-shrink': sliders.changeFlex.FSFB2.flexShrink, 'flex-basis': sliders.changeFlex.FSFB2.flexBasis}">
                    <ul class="small">
                        <li>
                            <div>flex-grow:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB2.flexGrow'></div>
                        </li>
                        <li>
                            <div>flex-shrink:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB2.flexShrink'></div>
                        </li>
                        <li>
                            <div>flex-basis:</div>
                            <div class="afterfix-px"><input type="number" step='100' ng-model='sliders.changeFlex.FSFB2.flexBasis'></div>
                        </li>                        
                    </ul>
                </div>
                <div class="item item_3" ng-style="{'flex-grow': sliders.changeFlex.FSFB3.flexGrow, 'flex-shrink': sliders.changeFlex.FSFB3.flexShrink, 'flex-basis': sliders.changeFlex.FSFB3.flexBasis}">
                    <ul class="small">
                        <li>
                            <div>flex-grow:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB3.flexGrow'></div>
                        </li>
                        <li>
                            <div>flex-shrink:</div>
                            <div><input type="number" ng-model='sliders.changeFlex.FSFB3.flexShrink'></div>
                        </li>
                        <li>
                            <div>flex-basis:</div>
                            <div class="afterfix-px"><input type="number" step='100' ng-model='sliders.changeFlex.FSFB3.flexBasis'></div>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
       
        <div id="overview" class="step" data-x="1000" data-y="1500" data-scale="10">
        </div>
    </div>
    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/EaselJS/lib/easeljs-0.8.2.combined.js"></script>
    <!-- endbower -->
    <script src="/src/client/vender/impress.js"></script>
    <script src="/src/client/vender/highlight.js"></script>
    <!-- <script src="/src/client/vender/canvasFramePlayer.js"></script> -->
    <!-- endbuild -->
    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/src/client/app/app.module.js"></script>
    <script src="/src/client/app/presentation/sliders.controller.js"></script>
    <script src="/src/client/app/presentation/sliders.directive.js"></script>
    <script src="/src/client/app/presentation/splash.controller.js"></script>
    <script src="/src/client/app/presentation/splash.directive.js"></script>
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>
